* {

    margin: 0;
    padding: 0;
    font-family: 'Open Sans'sans-serif;

}

body {

    background-color: antiquewhite;

}

ul {

    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;

}



.flex-container {
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;  
}

header {
    background-color: #5a75a8;
    height: 100px;
    display: flex;
    align-items: center;
    color: #fff;
}

header .list-items {
    display: flex;
    max-width: 350px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.list-items li a {
    color: aliceblue;

}

header .menu {
    justify-content: space-between;
}

.apresentacao {
    height: 100vh;
    margin-left: 200px;
    justify-content: space-between;

}

.apresentacao .texto-apresentacao {
    margin-top: 100px;
    min-width: 200px;
    height: 100%;
}

.apresentacao img {

    border: solid;
    border-color: #122A57;
    margin-right: 160px;
    margin-top: 100px;

}

.texto-apresentacao h1 {
    color: #122A57;
    font-size: 48px;
    margin-bottom: 5px;
}

.btn {
    background-color: #122A57;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    width: 120px;
    display: block;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    margin-top: 65px;

}

#quem-somos {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#quem-somos h2 {
    font-size: 32px;
    color: #122A57;
    display: flex;
    margin-bottom: 20px;

}

#quem-somos p {
    margin-bottom: 10px;
    width: 90%;
}

#quem-somos h2::before {
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background: #122A57;
    position: relative;

}

#quem-somos img {

    border-style: solid;
    border-color: #122A57;
    border-radius: 30px;
    margin-right: 100px;
    margin-bottom: 50px;
    width: 420px;
    height: 300px;
    min-width: 320px;

}

.carrossel {
    margin-left: 200px;
    border-style: solid;
    border-color: #122A57;
    border-radius: 30px;
    min-width: 100vh;
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 400px;
    width: 400px;
}

.carrossel h2 {
    margin-top: 10px;
    margin-left: 10px;
    color: #122A57;

}

.container-carrossel {
    display: flex;
    transition: transforms 0.5s ease-in-out;
    transform: translateX(0);
}

.container-carrossel img {

    margin-top: 12px;
    align-items: center;
    object-fit: cover;
    height: 300px;
    width: 500px;


}

#plataformas-digitais {
    flex-direction: column;
    min-height: 100vh;
    margin-top: 70px;

}

.texto-digital {

    margin-bottom: 20px;
}

.list-digitais {
    display: flex;
    align-items: flex-end;
}

.itens-digitais {

    margin-bottom: 50px;

}

.icons {
    margin-top: 5px;
    margin-left: 2px;
    height: 30px;
}

footer {
    background-color: #5a75a8;
    height: 70px;
    display: flex;
    align-items: center;

}

footer .footer {
    justify-content: space-between;
    color: #fff;

}

.footer p {
    margin-right: 10px;
    margin-left: 10px;
}

/*
 mobile
*/

@media(max-width : 992px) {
    .flex-container {
        flex-direction: column;
    }

    .apresentacao {
        flex-direction: column-reverse;
    }

    #quem-somos {
        flex-direction: column-reverse;

    }

    .carrossel {
        width: 30%;
        margin: auto;
    }

    .carrossel img {
        width: 65%;
        margin: auto;
    }

    .texto-apresentacao img {
        width: 50%;
        margin: auto;
    }

    #quem-somos {
        width: 50%;
        margin: auto;
    }
}